<div ng-controller="recrutementCtrl">
   <header class="main-container__header">
      <h2 class="title title_bottom-decor">ESPACE {{rolee}}</h2>
   </header>
   <br><br><br><BR><BR><br>
   <div class="content about-me">
      <section  data-show-effect="fadeInDown" data-show-delay="200" style="margin-left: 300px;">
         <a href="#/offres">
            <h3 class="title title_middle about-me__title"> <span class="about-me__title-label">job offers</span></h3>
            <img src="img/hiring/hiring1.png" style="margin-left: 30px;"/>
         </a>
      </section>
      <section  data-show-effect="fadeInDown" data-show-delay="200" style="margin-left: 290px;">
         <a href="#/consulter">
            <h3 class="title title_middle about-me__title"> <span class="about-me__title-label">candidats</span></h3>
            <img src="img/fiche2.png" style="margin-left: 20px;"/>
         </a>
      </section>
   </div>
   <br><BR><BR>
</div>