<div ng-controller="StaffManagementCtrl">
   <header class="main-container__header">
      <h2 class="title title_bottom-decor">ESPACE {{role}}</h2>
   </header>
   <br><br><br><BR><BR><br>
   <div class="content about-me">
      <section  data-show-effect="fadeInDown" data-show-delay="200" style="margin-left: 300px;">
         <a href="#/addStaff">
            <h3 class="title title_middle about-me__title"> <span class="about-me__title-label">Add Staff</span></h3>
            <img src="img/add2.png" style="margin-left: 30px;"/>
         </a>
      </section>
      <section  data-show-effect="fadeInDown" data-show-delay="200" style="margin-left: 280px;">
         <a href="#/listStaff">
            <h3 class="title title_middle about-me__title"> <span class="about-me__title-label">Staff List</span></h3>
            <img src="img/list.png" style="margin-left: 30px;"/>
         </a>
      </section>
   </div>
   <br><BR><BR>
</div>